* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: unset;
  color: unset; }

button {
  background-color: unset;
  border: unset; }

.header {
  border-bottom: 1px solid lightgray; }

.header__container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2em 0; }

.nav {
  display: flex;
  gap: 4em;
  align-items: center; }

.nav__links {
  display: flex;
  gap: 2em;
  align-items: center; }

.icon {
  position: relative; }

.icon--highlight {
  display: grid;
  place-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #025c55; }

.icon__badge {
  display: grid;
  place-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  font-size: 0.6em;
  position: absolute;
  right: -1em;
  top: -0.5em;
  background-color: #025c55;
  color: #ffffff; }

.banner {
  background-color: #025c55;
  background-image: url("/assets/svg/bg.svg");
  background-size: 448px;
  background-repeat: no-repeat;
  background-position: 5% 100%;
  padding: 5em 0; }

.banner__container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 2em;
  align-items: center;
  position: relative; }

.text-block {
  max-width: 562px;
  display: flex;
  gap: 2em;
  align-items: start;
  flex-direction: column; }

.text-block__heading {
  color: #ffffff;
  font-size: 3em; }

.text-block__paragraphs {
  display: flex;
  gap: 1em;
  align-items: start;
  flex-direction: column; }

.text-block__paragraphs__p {
  color: #f1f5f5; }

.text-block__paragraphs__p--highlight {
  color: #ffffff;
  font-weight: bold; }

.banner__container__image {
  height: 600px;
  position: absolute;
  top: -5em;
  right: 0;
  right: 0; }

.products-section {
  max-width: 1300px;
  margin: auto;
  margin-top: 10em; }

.section-heading {
  font-size: 2.5em;
  color: #025c55; }

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  flex-wrap: wrap; }

.product {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  width: 25%;
  text-align: center;
  margin-bottom: 5em;
  color: #025c55; }

.product__name {
  font-weight: bold; }

.product__price {
  font-size: 2.5em;
  font-weight: bold; }

.product__image {
  width: 200px;
  margin-bottom: 1em; }

.product__details {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2em; }

.page-navigation {
  display: flex;
  gap: 0;
  align-items: center;
  color: #6e8484;
  width: fit-content;
  margin: auto;
  padding-bottom: 5em; }

.page-navigation__link {
  display: grid;
  place-content: center;
  width: 2.5em;
  height: 2.5em; }

.page-navigation__link--highlight {
  background-color: #0a655e;
  color: #ffffff; }

.main {
  position: relative;
  height: fit-content; }

.basket-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.397);
  z-index: 2;
  top: 0; }

.basket-modal-bg__container {
  max-width: 1300px;
  margin: auto; }

.basket-modal-bg__container__body {
  width: fit-content;
  margin-left: auto; }

.basket-top {
  background-color: #ffffff;
  padding: 1.5em;
  max-width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative; }

.close-btn {
  display: grid;
  place-content: center;
  width: 3em;
  height: 3em;
  background-color: #025c55; }

.basket-products {
  background-color: #ffffff;
  padding: 1.5em;
  max-width: 20em; }

.basket-product__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.basket-product__bottom {
  display: flex;
  justify-content: space-between; }

.basket-product__top__left {
  display: flex;
  gap: 1em;
  align-items: center; }

.basket-product__top__left__name {
  width: 100%;
  max-width: 10em; }

.basket-summary {
  background-color: #ffffff;
  padding: 1.5em;
  max-width: 20em;
  border-top: 1px solid #80888833; }

.basket-summary__price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold; }

.hidden {
  display: none; }

.cta-btn {
  background-color: #d1b352;
  color: #ffffff;
  width: 100%;
  padding: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.body {
  color: #2e3838;
  font-family: Roboto, sans-serif; }

/*# sourceMappingURL=style.css.map */
