@mixin row($gap: 2em, $alignment: center) {
  display: flex;
  gap: $gap;
  align-items: $alignment;
}

@mixin column($gap: 1em) {
  @include row($gap, start);
  flex-direction: column;
}

@mixin container {
  max-width: 1300px;
  margin: auto;
}

@mixin center {
  display: grid;
  place-content: center;
}

@mixin circle($size: 1.5em) {
  @include center;
  width: $size;
  height: $size;
  border-radius: 50%;
}
