@mixin row($gap: 2em, $alignment: center) {
  display: flex;
  gap: $gap;
  align-items: $alignment;
}

@mixin column($gap: 1em, $alignment: start) {
  @include row($gap, $alignment);
  flex-direction: column;
}

@mixin container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

@mixin center {
  display: grid;
  place-content: center;
}

@mixin square($size: 1.5em) {
  @include center;
  width: $size;
  height: $size;
}

@mixin circle($size: 1.5em) {
  @include square($size);
  border-radius: 50%;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}
