@import "reset";
@import "mixins";
@import "variables";

.body {
  color: $black;
  font-family: $fonts;
}

.header {
  @include container;
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.nav {
  @include row(3em);
}

.nav__links {
  @include row;
}

.nav__icons {
  @include row;
}

.banner {
  background-color: $green1;
}

.banner__container {
  @include container;
  @include row;
}

.text-block {
  max-width: 562px;
  @include column(2em);
}

.text-block__heading {
  color: $white;
  font-size: 3em;
}

.text-block__paragraphs {
  @include column;
}

.text-block__paragraphs__p {
  color: $gray3;
}

.text-block__paragraphs__p--highlight {
  color: $white;
  font-weight: bold;
}

.banner__container__image {
  margin: 0 4em;
  height: 400px;
}
