@import "reset";
@import "variables";

@import "components/header";
@import "components/banner";
@import "components/products";
@import "components/page-navigation";
@import "components/basket-modal";
@import "components/cta-button";

.body {
  color: $black;
  font-family: $fonts;
  line-height: 1.5;
}
