@import "../mixins";
@import "../variables";

.banner {
  background-color: $green1;
  background-image: url("/assets/svg/bg.svg");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 4% 60%;
  padding: 3em 0;
}

.banner__container {
  @include container;
  @include row;
  position: relative;
}

.text-block {
  max-width: 562px;
  @include column(2em);
}

.text-block__heading {
  color: $white;
  font-size: 3em;
}

.text-block__paragraphs {
  @include column;
}

.text-block__paragraphs__p {
  color: $gray3;
}

.text-block__paragraphs__p--highlight {
  color: $white;
  font-weight: bold;
}

.banner__container__image {
  height: 600px;
  position: absolute;
  top: -2em;
  right: 0;
  right: 0;
}
