@import "../mixins";
@import "../variables";

@mixin basket-container {
  background-color: $white;
  padding: 1.5em;
  max-width: 20em;
}

.main {
  position: relative;
  height: fit-content;
}

.basket-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.397);
  z-index: 2;
  top: 0;
}

.basket-modal-bg__container {
  @include container;
}

.basket-modal-bg__container__body {
  width: fit-content;
  margin-left: auto;
}

.basket-top {
  @include basket-container;
  @include space-between;
  align-items: flex-end;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.close-btn {
  @include square(3em);
  background-color: $green1;
}

.basket-products {
  @include basket-container;
}

.basket-product__top {
  @include space-between;
  align-items: center;
}

.basket-product__bottom {
  @include space-between;
}

.basket-product__top__left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.basket-product__top__left__name {
  width: 100%;
  max-width: 10em;
}

.basket-summary {
  @include basket-container;
  border-top: 1px solid $gray2;
}

.basket-summary__price-section {
  @include space-between;
  align-items: center;
  font-weight: bold;
}

.hidden {
  display: none;
}
