@import "../mixins";
@import "../variables";
@import "basket-modal";

.basket-product__top {
  @include space-between;
  align-items: center;
}

.basket-product__bottom {
  @include space-between;
}

.basket-product__top__left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.basket-product__top__left__name {
  width: 100%;
  max-width: 10em;
}
