@import "../mixins";

.header {
  border-bottom: 1px solid $gray2;
}

.header__container {
  @include container;
  @include space-between;
  padding: 2em;
  gap: 2em;
}

.nav {
  @include row(4em);
  font-weight: 100;
}

.nav__links {
  @include row;
}

.nav__links__link:hover {
  color: $green1;
}

.icon {
  position: relative;
  cursor: pointer;
}

.icon--highlight {
  @include circle(2.5em);
  background-color: $green1;
}

.icon__badge {
  @include circle;
  font-size: 0.6em;
  position: absolute;
  right: -1em;
  top: -0.5em;
  background-color: $green1;
  color: $white;
}

.hamburger {
  display: none;
}

@media (max-width: 1200px) {
  .nav__links--secondary {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
