@import "../mixins";

.header {
  border-bottom: 1px solid lightgray;
}

.header__container {
  @include container;
  @include space-between;
  padding: 2em 0;
}

.nav {
  @include row(4em);
  font-weight: 100;
}

.nav__links {
  @include row;
}

.nav__links__link:hover {
  color: $green1;
}

.icon {
  position: relative;
  cursor: pointer;
}

.icon--highlight {
  @include circle(2.5em);
  background-color: $green1;
}

.icon__badge {
  @include circle;
  font-size: 0.6em;
  position: absolute;
  right: -1em;
  top: -0.5em;
  background-color: $green1;
  color: $white;
}
