@import "../mixins";
@import "../variables";

.products-section {
  @include container;
  margin-top: 8em;
}

.section-heading {
  font-size: 2.5em;
  color: $green1;
}

.products {
  @include space-between;
  margin-top: 5em;
  flex-wrap: wrap;
}

.product {
  @include column(0, center);
  width: 25%;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 4em;
  color: $green1;
  background-color: $white;
  position: relative;
  padding-top: 5em;
  padding-bottom: 1.5em;
}

.product:hover {
  outline: 1px solid $yellow;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.product__name {
  font-weight: bold;
}

.product__price {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: auto;
}

.product__image {
  width: 200px;
  position: absolute;
  top: -11em;
}

.product__details {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}

.product__tax {
  font-weight: 100;
  margin-bottom: 0.8em;
}

@media (max-width: 1200px) {
  .product {
    width: 50%;
  }

  .section-heading {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .product {
    width: 100%;
  }
}
